div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-bottom: 30px;
  margin-left: 10px;
  background-clip: content-box;
}

/* DON'T change CSS above here! */

/* But you CAN add CSS below. */

/* (Even CSS that overrides the CSS above!) */

.first {
  /* Add as many CSS lines as you need to here! */
  margin-top: 100px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px ;
}

.second {
  /* Add as many CSS lines as you need to here! */
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 30px 80px
}


.third {
  /* Add as many CSS lines as you need to here! */
  margin-top: 400px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

}

.fourth{
  /* Add as many CSS lines as you need to here! */
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 150px;
  padding-right: 100px;
}

.fifth {
  text-align: center;
  /* Add as many CSS lines as you need to here! */
  margin: auto;
  padding: 20px ;
}
